In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [57]:
# 데이터 불러오기
data = pd.read_csv('OBS_ASOS_DD_20210104225316.csv', encoding = 'cp949')  # 2020-01-01~2010-01-01
data1 = pd.read_csv('OBS_ASOS_DD_20210104225407.csv', encoding = 'cp949') # 2010-01-02~2020-01-02
data2 = pd.read_csv('OBS_ASOS_DD_20210104225442.csv', encoding = 'cp949') # 2020-01-03~2021-01-03

data = pd.concat([data,data1,data2],axis=0)

In [58]:
print('데이터 개수 =', len(data))
print('데이터 컬럼 개수 =', len(data.columns))

데이터 개수 = 7674
데이터 컬럼 개수 = 62

In [59]:
data.columns

Index(['지점', '지점명', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다 강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)', '최대 순간 풍속(m/s)',
       '최대 순간 풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)', '최다풍향(16방위)',
       '평균 이슬점온도(°C)', '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 상대습도(%)',
       '평균 증기압(hPa)', '평균 현지기압(hPa)', '최고 해면기압(hPa)', '최고 해면기압 시각(hhmi)',
       '최저 해면기압(hPa)', '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)',
       '합계 일조시간(hr)', '1시간 최다일사 시각(hhmi)', '1시간 최다일사량(MJ/m2)', '합계 일사량(MJ/m2)',
       '일 최심신적설(cm)', '일 최심신적설 시각(hhmi)', '일 최심적설(cm)', '일 최심적설 시각(hhmi)',
       '합계 3시간 신적설(cm)', '평균 전운량(1/10)', '평균 중하층운량(1/10)', '평균 지면온도(°C)',
       '최저 초상온도(°C)', '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)',
       '평균 20cm 지중온도(°C)', '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)',
       '1.0m 지중온도(°C)', '1.5m 지중온도(°C)', '3.0m 지중온도(°C)', '5.0m 지중온도(°C)',
       '합계 대형증발량(mm)', '합계 소형증발량(mm)', '9-9강수(mm)', '기사', '안개 계속시간(hr)'],
      dtype='object')

62개의 데이터 컬럼명을 확인해 보았다.  
이 많은 변수들을 우리가 사용할 수 있는지 데이터 품질을 살펴보려고 한다.

In [60]:
# 결측이 있는 변수만 출력
for i,j in zip(data.columns,data.isna().sum()):
    if j>0:
        print(i,j)

최고기온(°C) 1
최고기온 시각(hhmi) 1
강수 계속시간(hr) 4710
10분 최다 강수량(mm) 5781
10분 최다강수량 시각(hhmi) 6288
1시간 최다강수량(mm) 5781
1시간 최다 강수량 시각(hhmi) 6277
일강수량(mm) 4709
최대 순간 풍속(m/s) 2
최대 순간 풍속 풍향(16방위) 2
최대 순간풍속 시각(hhmi) 2
최대 풍속(m/s) 2
최대 풍속 풍향(16방위) 2
최대 풍속 시각(hhmi) 2
평균 풍속(m/s) 3
풍정합(100m) 3
최다풍향(16방위) 5
최소 상대습도(%) 1
최소 상대습도 시각(hhmi) 1
평균 현지기압(hPa) 1
최고 해면기압(hPa) 1
최고 해면기압 시각(hhmi) 1
최저 해면기압(hPa) 2
최저 해면기압 시각(hhmi) 2
평균 해면기압(hPa) 1
합계 일조시간(hr) 12
1시간 최다일사 시각(hhmi) 24
1시간 최다일사량(MJ/m2) 23
합계 일사량(MJ/m2) 26
일 최심신적설(cm) 7412
일 최심신적설 시각(hhmi) 7419
일 최심적설(cm) 7155
일 최심적설 시각(hhmi) 7160
합계 3시간 신적설(cm) 7412
평균 중하층운량(1/10) 21
평균 지면온도(°C) 1
최저 초상온도(°C) 3
평균 5cm 지중온도(°C) 9
평균 10cm 지중온도(°C) 9
평균 20cm 지중온도(°C) 10
평균 30cm 지중온도(°C) 28
0.5m 지중온도(°C) 8
1.0m 지중온도(°C) 8
1.5m 지중온도(°C) 9
3.0m 지중온도(°C) 11
5.0m 지중온도(°C) 6
합계 대형증발량(mm) 2491
합계 소형증발량(mm) 6
9-9강수(mm) 4678
기사 2118
안개 계속시간(hr) 7512

In [61]:
# 결측비율이 높은 변수 출력
for i,j in zip(data.columns,data.isna().sum()/len(data)):
    if j>0.5:
        print(i,j)

강수 계속시간(hr) 0.6137607505863957
10분 최다 강수량(mm) 0.753322908522283
10분 최다강수량 시각(hhmi) 0.8193901485535575
1시간 최다강수량(mm) 0.753322908522283
1시간 최다 강수량 시각(hhmi) 0.8179567370341413
일강수량(mm) 0.6136304404482669
일 최심신적설(cm) 0.9658587438102685
일 최심신적설 시각(hhmi) 0.9667709147771697
일 최심적설(cm) 0.9323690383111806
일 최심적설 시각(hhmi) 0.9330205890018244
합계 3시간 신적설(cm) 0.9658587438102685
9-9강수(mm) 0.6095908261662757
안개 계속시간(hr) 0.9788897576231431

업무를 통해 ASOS데이터를 다룬 적이 있어 강수와 적설량의 결측원인을 알고 있다  
강수, 적설량이 0인 경우 결측으로 표시된다
따라서 강수와 적설의 결측은 0으로 채우면 된다.

안개 계속시간도 같은 이유일 것으로 추측된다.
따라서 안개 계속시간의 결측도 0으로 채운다.

In [62]:
rain_col = [i for i in data.columns if '강수' in i]
snow_col = [i for i in data.columns if '적설' in i]

data[rain_col+snow_col] = data[rain_col+snow_col].fillna(0)
data['안개 계속시간(hr)'] = data['안개 계속시간(hr)'].fillna(0)

강수와 적설, 안개 계속시간의 결측을 0으로 채우고 난 후 다시 결측이 있는 변수를 출력해보면 다음과 같이 나온다.
나머지 결측은 시계열 그래프 확인 후 채우도록 한다.

In [63]:
# 결측이 있는 변수만 출력
for i,j in zip(data.columns,data.isna().sum()):
    if j>0:
        print(i,j)

최고기온(°C) 1
최고기온 시각(hhmi) 1
최대 순간 풍속(m/s) 2
최대 순간 풍속 풍향(16방위) 2
최대 순간풍속 시각(hhmi) 2
최대 풍속(m/s) 2
최대 풍속 풍향(16방위) 2
최대 풍속 시각(hhmi) 2
평균 풍속(m/s) 3
풍정합(100m) 3
최다풍향(16방위) 5
최소 상대습도(%) 1
최소 상대습도 시각(hhmi) 1
평균 현지기압(hPa) 1
최고 해면기압(hPa) 1
최고 해면기압 시각(hhmi) 1
최저 해면기압(hPa) 2
최저 해면기압 시각(hhmi) 2
평균 해면기압(hPa) 1
합계 일조시간(hr) 12
1시간 최다일사 시각(hhmi) 24
1시간 최다일사량(MJ/m2) 23
합계 일사량(MJ/m2) 26
평균 중하층운량(1/10) 21
평균 지면온도(°C) 1
최저 초상온도(°C) 3
평균 5cm 지중온도(°C) 9
평균 10cm 지중온도(°C) 9
평균 20cm 지중온도(°C) 10
평균 30cm 지중온도(°C) 28
0.5m 지중온도(°C) 8
1.0m 지중온도(°C) 8
1.5m 지중온도(°C) 9
3.0m 지중온도(°C) 11
5.0m 지중온도(°C) 6
합계 대형증발량(mm) 2491
합계 소형증발량(mm) 6
기사 2118

이렇게 데이터프레임을 열어보면 특이한 컬럼이 있다.  
'기사'라는 컬럼인데 이 컬럼은 단순히 수치로 기록되어 있지 않고 글자가 섞여 있다.  
이 컬럼은 제외하고 분석에 들어가겠다  
최저기온 시각, 최고기온 시각 등 최저기온이 측정된 시각, 각 특정 데이터가 측정된 시각들도 변수로 포함되어 있다.  
이런 변수들은 기온, 강수량 예측과 상관관계가 낮을 것이라 생각이 들어 제외하고 분석에 들어가겠다.

In [64]:
del data['기사']

time_col=[i for i in data.columns if '시각' in i]
print(time_col)

['최저기온 시각(hhmi)', '최고기온 시각(hhmi)', '10분 최다강수량 시각(hhmi)', '1시간 최다 강수량 시각(hhmi)', '최대 순간풍속 시각(hhmi)', '최대 풍속 시각(hhmi)', '최소 상대습도 시각(hhmi)', '최고 해면기압 시각(hhmi)', '최저 해면기압 시각(hhmi)', '1시간 최다일사 시각(hhmi)', '일 최심신적설 시각(hhmi)', '일 최심적설 시각(hhmi)']

In [65]:
data = data.drop(time_col, axis=1)

In [68]:
data.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),10분 최다 강수량(mm),1시간 최다강수량(mm),일강수량(mm),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,108,서울,2000-01-01,5.5,1.8,9.9,0.00,0.0,0.0,0.0,...,1.3,3.5,6.7,10.0,14.6,17.5,NaN,0.9,4.0,0.0
1,108,서울,2000-01-02,4.2,-0.9,6.9,6.83,0.0,0.0,6.0,...,1.4,3.6,6.7,9.7,14.5,17.5,NaN,0.8,2.0,0.0
2,108,서울,2000-01-03,-2.2,-4.6,0.1,0.00,0.0,0.0,0.0,...,1.3,3.3,6.2,9.5,14.5,17.8,NaN,0.8,0.0,0.0
3,108,서울,2000-01-04,0.3,-4.3,4.3,0.00,0.0,0.0,0.0,...,1.3,3.3,6.3,9.5,14.5,17.3,NaN,0.7,3.7,0.0
4,108,서울,2000-01-05,2.8,0.1,4.6,13.90,0.0,0.0,18.4,...,1.3,3.3,6.0,9.5,14.5,17.5,NaN,1.7,24.5,0.0

현재 서울 데이터만 분석하고 있으므로 지점과 지점명 또한 제거한다.

In [69]:
data = data.drop(['지점','지점명'], axis=1)

data.corr()